:root{
    --background:#333;
    --textColor:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.container{
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.container .card{
    position: relative;
    margin: 0 10px;
}

.container .card .face{ 
    width: 300px;
    height: 200px;
    transition: 0.5s;
}



.container .card .face.face1{ 
    position: relative;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    color: var(--textColor);
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0.9;
}

.container .card .face.face1 ion-icon{
    font-size: 140px;
 }

.container .card .face.face2{ 
   position: relative;
   background-color: #333;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   color: #333;
   transition: 0.5s;
   box-shadow: 0 20px 50px rgba(0,0,0,0.8);
   transform: translateY(-100px);
   
}

.container .card:hover .face.face1{
    transform: translateY(0);
    background-color: rgb(48, 111, 194);
    opacity: 1;
 }


.container .card:hover .face.face2{
    transform: translateY(0);
    background-color: #fff;
 }

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border:1px solid #333;
    transition: 0.5s;
} 

.container .card .face.face2 .content a:hover{
    background-color: #333;
    color: #fff;
}